<div class = "product-item">
    <div class = "product-img">
        <img src={{img_path}}, alt={{name}}>        
    </div>
    <div class = "product-data">
        <div class = "product-name">
            {{name}}
        </div>
        <div class = "product-rating">
            {{rating}}
        </div>
        <div class = "product-price">
            {{price}}
        </div>
    </div>
</div>


